@page "/"
@using OpenBetsBeta.Client.Components


<PageTitle>OpenBets</PageTitle>
<div class="card-header rounded-3">
    <h1 align="center">OpenBets</h1>  
</div>

<div>
    <img class="w-100 img-fluid rounded-3" src="/images/web-site-banner.jpg" alt="...">
</div>


<EthWallet></EthWallet>

<OrganisationComponent></OrganisationComponent>

<EventComponent></EventComponent>

<SubEventsComponent></SubEventsComponent>

<BetComponent></BetComponent>