@page "/"



<PageTitle>OpenBets</PageTitle>

<div class="container">
    <h1 class="text-center"><strong>OpenBets</strong></h1>
    <br>
</div>

<br>
    <h2>Search Options</h2>
<br>
<h4>Selected Organisation: @selectedOrganisation</h4>
<h4>Selected Event: @selectedEvent</h4>
<h4>Search Text: @searchText</h4>
<h4>Sort By New: @isSortedByNew</h4>
<br>

<OpenBetsBeta.Client.Components.WalletComponent></OpenBetsBeta.Client.Components.WalletComponent>

<OpenBetsBeta.Client.Components.OrganisationComponent></OpenBetsBeta.Client.Components.OrganisationComponent>

<OpenBetsBeta.Client.Components.EventComponent></OpenBetsBeta.Client.Components.EventComponent>

<OpenBetsBeta.Client.Components.SubEventsComponent></OpenBetsBeta.Client.Components.SubEventsComponent>

<OpenBetsBeta.Client.Components.BetComponent></OpenBetsBeta.Client.Components.BetComponent>



