@page "/ufc/events"



<h3>Events</h3>

<h3>@_event</h3>

@code {
    private string? _event;

    protected override Task OnInitializedAsync()
    {
        _event = OpenBets.Shared.API.SportsDataAPI.GetEvent();
        return Task.CompletedTask;
    }

}