<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-3">
  <div class="container-fluid">

    <!--Nav collapse Toggle-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!--Title-->
    <span class="navbar-brand">
        <a href="#"><img src="/images/Shield.png" alt="" width="30" height="30" class="d-inline-block align-text-middle"></a>
        
        OpenBets  

    </span>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!--Organisation-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/organisation" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Organizations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                <li><a class="dropdown-item" href="/organisation">UFC</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item disabled" href="#">NFL</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item disabled" href="#">NBA</a></li>
          </ul>
        </li>

        <!--BetZone-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/eventdash">BetZone</a>
        </li>
        
         <!--Search-->
         <!--
         <li class="nav-item">
             <form class="d-flex col-4 p-2">
               <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-primary btn-sm col-5 rounded-pill" type="submit">Search</button>
             </form>
         </li>
         -->
        </ul>

    </div>

    <!--Wallet-->
    <div class="dropdown justify-content-end">
        <button class="btn btn-success btn-md col-12 rounded-pill dropdown-toggle" type="button" id="WalletDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="active text-white" aria-current="page">
                Wallet
            </span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="WalletDropdown">    
            <OpenBetsBeta.Client.Components.EthWallet></OpenBetsBeta.Client.Components.EthWallet>
        </ul>
    </div>

  </div>
</nav>



<style>
    .dropdown-menu {
        min-width: 400px;
    }
</style>